<div class="inkylike-toolbar">
  <ul>
    <li><a href="#" {{action togglePopup}}><i class="icon-edit"></i> 发信息</a></li>
  </ul>
</div>
<div class="content">
  {{ render "new_message"}}
  <div class="left">
    <ul class="contacts">
      {{#each model}}
        <li>
          <h3><i class="icon-user"></i> {{name}}（{{number}}）</h3>
          {{#linkTo 'contact' this}}
            <div class="summary clearfix">
              <div class="latest-message">
                <span class="message">{{latestMessage.sender.name}}：{{latestMessage.content}}</span>
                <span class="created-at pull-right">{{timeAgo latestMessage.createdAt}}</span>
              </div>
              <div class="counts pull-right">
                <span class="surveys-count label label-important">调查 ({{notRepliedCount}})</span>
                <span class="messages-count label label-info">对话 ({{messagesCount}})</span>
              </div>
            </div>
          {{/linkTo}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="right">
    {{outlet}}
  </div>
</div>
