<div class="messages">
  <div {{bindAttr class=':alert minsAccountAlertLevelUp:alert-error'}}>
    {{#if Intimi.Auth.user.minsAccount}}
      {{#if Intimi.Auth.user.capitalAccount.needToRecharge}}
        你的账户余额只有<strong>{{Intimi.Auth.user.capitalAccount.balance}}</strong>元,
        是否 <a {{action "selectPrepaidCard"}}><strong>立即充值</strong></a> ？
      {{else}}
        你的账户余额为{{Intimi.Auth.user.capitalAccount.balance}}元。
      {{/if}}
    {{else}}
      <strong>抱歉! </strong>您还未开通即时通知服务, 开通后即可使用短信、彩信与您的好友取得联系。是否现在 <a {{action 'registerMinsAccount'}}><strong>开通服务</strong></a> ？
    {{/if}}
  </div>
</div>
