<div {{bindAttr class=":new-message-popup editingMessage::hide"}}>
  <form {{action createMessage on="submit"}}>
    <div class="popup-header">发送即时通知</div>
    <div class="popup-receiver">
        {{input value=newMessageReceiver class='input-plain' placeholder='收件人'}}
    </div>
    <div class="popup-content">
        {{textarea value=newMessageContent class='input-plain' placeholder='通知内容' rows=8}}
    </div>
    <div class="popup-footer">
      <button type="submit" class="btn">发送</button>

      <label class="checkbox inline" for="new-message-reply">
          {{input checked=newMessageSurvey type='checkbox' id='new-message-reply'}}
          需回复
      </label>
    </div>
  </form>
</div>
